# Import Libraries

In [1]:
import pandas as pd
import numpy as np

# Load Datasets

In [3]:
df = pd.read_csv("rawdata.csv")
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,average_score
0,0.0,group B,bachelor's degree,1,0,72,72.0,74,218,72.666667
1,0.0,group C,some college,1,1,69,90.0,88,247,82.333333
2,0.0,group B,master's degree,1,0,90,NaN,93,278,92.666667
3,1.0,group A,associate's degree,0,0,47,57.0,44,148,49.333333
4,NaN,group C,some college,1,0,76,78.0,75,229,76.333333

# Convert Incorrect Data
Type

In [9]:
df["math_score"] = pd.to_numeric(df["math_score"], errors="coerce")

# Handle Missing Value

In [10]:
# Now fill missing values with mean
df["math_score"].fillna(df["math_score"].mean(), inplace=True)

0       72.0
1       69.0
2       90.0
3       47.0
4       76.0
        ...
996     88.0
997     62.0
998     59.0
999     68.0
1000    77.0
Name: math_score, Length: 1001, dtype: float64

In [7]:
# Fill with median
df["reading_score"].fillna(df["reading_score"].median(), inplace=True)

0       72.0
1       90.0
2       70.0
3       57.0
4       78.0
        ...
996     99.0
997     55.0
998     71.0
999     78.0
1000    86.0
Name: reading_score, Length: 1001, dtype: float64

In [8]:
# Fill with mode
df["gender"].fillna(df["gender"].mode()[0], inplace=True)

0       0.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
996     0.0
997     1.0
998     0.0
999     0.0
1000    0.0
Name: gender, Length: 1001, dtype: float64

# Remove Duplicates Row

In [11]:
df.drop_duplicates(inplace=True)

In [14]:
# saved Cleaned Datasets
df.to_csv("cleaned_data.csv", index=False)